<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.tvdeploy.dao.AgentDataDao">
    <!-- 属性映射 -->
    <resultMap type="com.xn.tvdeploy.model.AgentDataModel" id="dataMap">
        <id property="id" column="id" />
        <result property="myTradeNo" column="my_trade_no" />
        <result property="tradeNo" column="trade_no" />
        <result property="outTradeNo" column="out_trade_no" />
        <result property="totalAmount" column="total_amount" />
        <result property="serviceCharge" column="service_charge" />
        <result property="actualMoney" column="actual_money" />
        <result property="payAmount" column="pay_amount" />
        <result property="payActualMoney" column="pay_actual_money" />
        <result property="channelId" column="channel_id" />
        <result property="gewayId" column="geway_id" />
        <result property="agentId" column="agent_id" />
        <result property="channelGewayId" column="channel_geway_id" />
        <result property="replenishType" column="replenish_type" />
        <result property="moneyFitType" column="money_fit_type" />
        <result property="profitRatio" column="profit_ratio" />
        <result property="profit" column="profit" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="yn" column="yn" />

        <result property="agentName" column="agent_name" />
        <result property="channelName" column="channel_name" />
        <result property="totalProfit" column="total_profit" />
        <result property="totalMoney" column="total_money" />

    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.my_trade_no,a.trade_no,a.out_trade_no,a.total_amount,a.service_charge,a.actual_money,a.pay_amount,a.pay_actual_money,
        a.channel_id,a.geway_id,a.agent_id,a.channel_geway_id,a.replenish_type,a.money_fit_type,a.profit_ratio,a.profit,
        a.curday,a.curhour,a.curminute,a.run_num,a.create_time,a.update_time,a.yn,
        b.agent_name,
        c.channel_name
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="channelId != 0 and channelId >0 " >
                and a.channel_id = #{channelId}
            </if>
            <if test="agentId != 0 and agentId >0 " >
                and a.agent_id = #{agentId}
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                and a.my_trade_no = #{myTradeNo}
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                and a.out_trade_no = #{outTradeNo}
            </if>
            <if test="curday != 0 and curday >0 " >
                and a.curday = #{curday}
            </if>
            <if test="curdayStart != 0 and curdayStart >0 and curdayEnd != 0 and curdayEnd >0 " >
                and a.curday >= #{curdayStart} and a.curday &lt;= #{curdayEnd}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_agent_profit a left join tb_hz_agent b on a.agent_id = b.id
        left join tb_hz_channel c on a.channel_id = c.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a left join tb_hz_agent b on a.agent_id = b.id
        left join tb_hz_channel c on a.channel_id = c.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a left join tb_hz_agent b on a.agent_id = b.id
        left join tb_hz_channel c on a.channel_id = c.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a left join tb_hz_agent b on a.agent_id = b.id
        left join tb_hz_channel c on a.channel_id = c.id
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_agent_profit a left join tb_hz_agent b on a.agent_id = b.id
        left join tb_hz_channel c on a.channel_id = c.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>






    <!-- 获取订单的total信息 -->
    <select id="getTotalData"  resultMap="dataMap" parameterType="Object">
        select
        ifnull(sum(convert(a.total_amount,decimal(19,4))), '0.0000') as total_money,
        ifnull(sum(convert(a.profit,decimal(19,4))), '0.0000') as total_profit
        from tb_hz_agent_profit a
        <include refid="Example_Where_Clause"/>
    </select>



</mapper>