<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.tvdeploy.dao.ChannelReplenishDao">
    <!-- 属性映射 -->
    <resultMap type="com.xn.tvdeploy.model.ChannelReplenishModel" id="dataMap">
        <id property="id" column="id" />
        <result property="channelId" column="channel_id" />
        <result property="myTradeNo" column="my_trade_no" />
        <result property="outTradeNo" column="out_trade_no" />
        <result property="totalAmount" column="total_amount" />
        <result property="channelMoney" column="channel_money" />
        <result property="pictureAds" column="picture_ads" />
        <result property="checkMoney" column="check_money" />
        <result property="checkPictureAds" column="check_picture_ads" />
        <result property="checkStatus" column="check_status" />
        <result property="checkInfo" column="check_info" />
        <result property="checkTime" column="check_time" />
        <result property="remark" column="remark" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="yn" column="yn" />

        <result property="channelName" column="channel_name" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.channel_id,a.my_trade_no,a.out_trade_no,a.total_amount,a.channel_money,a.picture_ads,
        a.check_money,a.check_picture_ads,a.check_status,a.check_info,a.check_time,a.remark,
        a.create_time,a.update_time,a.yn,
        b.channel_name
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="channelId != 0 and channelId >0 " >
                and a.channel_id = #{channelId}
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                and a.my_trade_no = #{myTradeNo}
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                and a.out_trade_no = #{outTradeNo}
            </if>
            <if test="checkStatus != 0 and checkStatus >0 " >
                and a.check_status = #{checkStatus}
            </if>
            <if test="channelName != null and channelName != '' " >
                and b.channel_name = #{channelName}
            </if>
            and a.yn =  0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_channel_replenish a left join tb_hz_channel b on a.channel_id = b.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_channel_replenish a left join tb_hz_channel b on a.channel_id = b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_channel_replenish a left join tb_hz_channel b on a.channel_id = b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_channel_replenish a left join tb_hz_channel b on a.channel_id = b.id
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_channel_replenish a left join tb_hz_channel b on a.channel_id = b.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>


    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_hz_channel_replenish
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="channelId != 0 and channelId >0 " >
                channel_id,
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                my_trade_no,
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                out_trade_no,
            </if>
            <if test="totalAmount != null and totalAmount != '' " >
                total_amount,
            </if>
            <if test="channelMoney != null and channelMoney != '' " >
                channel_money,
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                picture_ads,
            </if>
            <if test="checkMoney != null and checkMoney != '' " >
                check_money,
            </if>
            <if test="checkPictureAds != null and checkPictureAds != '' " >
                check_picture_ads,
            </if>
            <if test="checkStatus != 0 and checkStatus >0 " >
                check_status,
            </if>
            <if test="checkInfo != null and checkInfo != '' " >
                check_info,
            </if>
            <if test="checkTime != null and checkTime != '' " >
                check_time,
            </if>
            <if test="remark != null and remark != '' " >
                remark,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="channelId != 0 and channelId >0 " >
                <![CDATA[  #{channelId}, ]]>
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                <![CDATA[  #{myTradeNo}, ]]>
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                <![CDATA[  #{outTradeNo}, ]]>
            </if>
            <if test="totalAmount != null and totalAmount != '' " >
                <![CDATA[  #{totalAmount}, ]]>
            </if>
            <if test="channelMoney != null and channelMoney != '' " >
                <![CDATA[  #{channelMoney}, ]]>
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                <![CDATA[  #{pictureAds}, ]]>
            </if>
            <if test="checkMoney != null and checkMoney != '' " >
                <![CDATA[  #{checkMoney}, ]]>
            </if>
            <if test="checkPictureAds != null and checkPictureAds != '' " >
                <![CDATA[  #{checkPictureAds}, ]]>
            </if>
            <if test="checkStatus != 0 and checkStatus >0 " >
                <![CDATA[  #{checkStatus}, ]]>
            </if>
            <if test="checkInfo != null and checkInfo != '' " >
                <![CDATA[  #{checkInfo}, ]]>
            </if>
            <if test="checkTime != null and checkTime != '' " >
                <![CDATA[  #{checkTime}, ]]>
            </if>
            <if test="remark != null and remark != '' " >
                <![CDATA[  #{remark}, ]]>
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_hz_channel_replenish a
        <trim prefix="set" suffixOverrides=",">
            <if test="channelId != 0 and channelId >0 " >
                a.channel_id = #{channelId},
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                a.my_trade_no = #{myTradeNo},
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                a.out_trade_no = #{outTradeNo},
            </if>
            <if test="totalAmount != null and totalAmount != '' " >
                a.total_amount = #{totalAmount},
            </if>
            <if test="channelMoney != null and channelMoney != '' " >
                a.channel_money = #{channelMoney},
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                a.picture_ads = #{pictureAds},
            </if>
            <if test="checkMoney != null and checkMoney != '' " >
                a.check_money = #{checkMoney},
            </if>
            <if test="checkPictureAds != null and checkPictureAds != '' " >
                a.check_picture_ads = #{checkPictureAds},
            </if>
            <if test="checkStatus != 0 and checkStatus >0 " >
                a.check_status = #{checkStatus},
            </if>
            <if test="checkInfo != null and checkInfo != '' " >
                a.check_info = #{checkInfo},
            </if>
            <if test="checkTime != null and checkTime != '' " >
                a.check_time = #{checkTime},
            </if>
            a.remark = #{remark},
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_hz_channel_replenish a
        <trim prefix="set" suffixOverrides=",">
            a.yn=#{yn},
            a.update_time=NOW()
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_hz_channel_replenish a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>

    <!-- 更新审核信息 -->
    <update id="updateCheck" parameterType="Object">
        UPDATE tb_hz_channel_replenish a
        <trim prefix="set" suffixOverrides=",">
            a.check_money = #{checkMoney},
            a.check_picture_ads = #{checkPictureAds},
            a.check_status = #{checkStatus},
            a.check_info = #{checkInfo},
            a.check_time = now(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


</mapper>