<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.tvdeploy.dao.ChannelChangeDao">
    <!-- 属性映射 -->
    <resultMap type="com.xn.tvdeploy.model.ChannelChangeModel" id="dataMap">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="channel_id" property="channelId" jdbcType="BIGINT" />
        <result column="my_trade_no" property="myTradeNo" jdbcType="VARCHAR" />
        <result column="money" property="money" jdbcType="VARCHAR" />
        <result column="change_type" property="changeType" jdbcType="BIT" />
        <result column="picture_ads" property="pictureAds" jdbcType="VARCHAR" />
        <result column="is_show" property="isShow" jdbcType="BIT" />
        <result column="data_explain" property="dataExplain" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="curday" property="curday" jdbcType="INTEGER" />
        <result column="curhour" property="curhour" jdbcType="BIT" />
        <result column="curminute" property="curminute" jdbcType="BIT" />
        <result column="run_status" property="runStatus" jdbcType="BIT" />
        <result column="run_num" property="runNum" jdbcType="BIT" />
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
        <result column="create_role_id" property="createRoleId" jdbcType="BIGINT" />
        <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
        <result column="update_role_id" property="updateRoleId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="ts_time" property="tsTime" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" jdbcType="BIT" />
        <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id, a.alias, a.channel_id, a.my_trade_no, a.money, a.change_type, a.picture_ads, a.is_show, a.data_explain,
    a.remark, a.curday, a.curhour, a.curminute, a.run_status, a.run_num, a.create_user_id, a.create_role_id,
    a.update_user_id, a.update_role_id, a.create_time, a.update_time, a.ts_time, a.yn,b.channel_name
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                and a.my_trade_no = #{myTradeNo}
            </if>
            <if test="channelId != 0 and channelId >0 " >
                and a.channel_id = #{channelId}
            </if>
            <if test="channelName != null and channelName != '' " >
                and b.channel_name = #{channelName}
            </if>
            <if test="money != null and money != ''" >
                and a.money = #{money}
            </if>
            <if test="changeType != 0 and changeType >0 " >
                and a.change_type = #{changeType}
            </if>
            <if test="isShow != 0 and isShow >0 " >
                and a.is_show = #{isShow}
            </if>
            <if test="curdayStart != null and curdayStart != '' " >
                and a.curday &gt;= #{curdayStart}
            </if>
            <if test="curdayEnd != null and curdayEnd != '' " >
                and a.curday &lt;= #{curdayEnd}
            </if>
            and a.yn = 0
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn = 0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_channel_change a  left  join    tb_hz_channel b
        on a.channel_id=b.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_channel_change a
        left  join    tb_hz_channel b
        on a.channel_id=b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_channel_change a
        left  join    tb_hz_channel b
        on a.channel_id=b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_channel_change a
        left  join    tb_hz_channel b
        on a.channel_id=b.id
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_channel_change a
        left  join    tb_hz_channel b
        on a.channel_id=b.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_hz_channel_change
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != 0 and id >0" >
                id,
            </if>
            <if test="alias != null and alias != ''" >
                alias,
            </if>
            <if test="channelId != 0 and channelId >0" >
                channel_id,
            </if>
            <if test="myTradeNo != null and myTradeNo != ''" >
                my_trade_no,
            </if>
            <if test="money != null and money != ''" >
                money,
            </if>
            <if test="changeType != 0 and changeType >0" >
                change_type,
            </if>
            <if test="pictureAds != null and pictureAds != ''" >
                picture_ads,
            </if>
            <if test="isShow != 0 and isShow >0" >
                is_show,
            </if>
            <if test="dataExplain != null and dataExplain != ''"  >
                data_explain,
            </if>
            <if test="remark != null and remark != ''" >
                remark,
            </if>
            <if test="curday != 0 and curday >0" >
                curday,
            </if>
            <if test="curhour != 0 and curhour >0" >
                curhour,
            </if>
            <if test="curminute != 0 and curminute >0" >
                curminute,
            </if>
            <if test="runStatus != 0 and runStatus >0" >
                run_status,
            </if>
            <if test="runNum != 0 and runNum >0" >
                run_num,
            </if>
            <if test="createUserId != 0 and createUserId >0" >
                create_user_id,
            </if>
            <if test="createRoleId != 0 and createRoleId >0" >
                create_role_id,
            </if>
            <if test="updateUserId != 0 and updateUserId >0" >
                update_user_id,
            </if>
            <if test="updateRoleId != 0 and updateRoleId >0" >
                update_role_id,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != 0 and id >0" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="alias != null and alias != ''" >
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="channelId != 0 and channelId >0" >
                #{channelId,jdbcType=BIGINT},
            </if>
            <if test="myTradeNo != null and myTradeNo != ''" >
                #{myTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="money != null and money != ''" >
                #{money,jdbcType=VARCHAR},
            </if>
            <if test="changeType != 0 and changeType >0" >
                #{changeType,jdbcType=BIT},
            </if>
            <if test="pictureAds != null and pictureAds != ''" >
                #{pictureAds,jdbcType=VARCHAR},
            </if>
            <if test="isShow != 0 and isShow >0" >
                #{isShow,jdbcType=BIT},
            </if>
            <if test="dataExplain != null and dataExplain != ''"  >
                #{dataExplain,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="curday != 0 and curday >0" >
                #{curday,jdbcType=INTEGER},
            </if>
            <if test="curhour != 0 and curhour >0" >
                #{curhour,jdbcType=BIT},
            </if>
            <if test="curminute != 0 and curminute >0" >
                #{curminute,jdbcType=BIT},
            </if>
            <if test="runStatus != 0 and runStatus >0" >
                #{runStatus,jdbcType=BIT},
            </if>
            <if test="runNum != 0 and runNum >0" >
                #{runNum,jdbcType=BIT},
            </if>
            <if test="createUserId != 0 and createUserId >0" >
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createRoleId != 0 and createRoleId >0" >
                #{createRoleId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != 0 and updateUserId >0" >
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateRoleId != 0 and updateRoleId >0" >
                #{updateRoleId,jdbcType=BIGINT},
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_hz_channel_change a
        <trim prefix="set" suffixOverrides=",">
            <if test="alias != null and alias != ''" >
                alias = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="channelId != 0 and channelId >0" >
                channel_id = #{channelId,jdbcType=BIGINT},
            </if>
            <if test="myTradeNo != null and myTradeNo != ''" >
                my_trade_no = #{myTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="money != null and money != ''" >
                money = #{money,jdbcType=VARCHAR},
            </if>
            <if test="changeType != 0 and changeType >0" >
                change_type = #{changeType,jdbcType=BIT},
            </if>
            <if test="pictureAds != null and pictureAds != ''" >
                picture_ads = #{pictureAds,jdbcType=VARCHAR},
            </if>
            <if test="isShow != 0 and isShow >0" >
                is_show = #{isShow,jdbcType=BIT},
            </if>
            <if test="dataExplain != null and dataExplain != ''"  >
                data_explain = #{dataExplain,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="curday != 0 and curday >0" >
                curday = #{curday,jdbcType=INTEGER},
            </if>
            <if test="curhour != 0 and curhour >0" >
                curhour = #{curhour,jdbcType=BIT},
            </if>
            <if test="curminute != 0 and curminute >0" >
                curminute = #{curminute,jdbcType=BIT},
            </if>
            <if test="runStatus != 0 and runStatus >0" >
                run_status = #{runStatus,jdbcType=BIT},
            </if>
            <if test="runNum != 0 and runNum >0" >
                run_num = #{runNum,jdbcType=BIT},
            </if>
            <if test="createUserId != 0 and createUserId >0" >
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createRoleId != 0 and createRoleId >0" >
                create_role_id = #{createRoleId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != 0 and updateUserId >0" >
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateRoleId != 0 and updateRoleId >0" >
                update_role_id = #{updateRoleId,jdbcType=BIGINT},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_hz_channel_change a
        <trim prefix="set" suffixOverrides=",">
            <if test="isEnable != 0 and isEnable >0 " >
                a.is_enable=#{isEnable},
            </if>
            a.yn=#{yn},
            a.update_time=NOW()
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_hz_channel_change a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>

</mapper>