<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.tvdeploy.dao.CheckChannelDao">
    <!-- 属性映射 -->
    <resultMap type="com.xn.tvdeploy.model.CheckChannelModel" id="dataMap">
        <id property="id" column="id" />
        <result property="checkAccountId" column="check_account_id" />
        <result property="channelId" column="channel_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="yn" column="yn" />
        <result property="channelName" column="channel_name" />
        <result property="acName" column="ac_name" />


    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id, a.check_account_id, a.channel_id,
        a.create_user_id, a.create_role_id,
        a.update_user_id, a.update_role_id, a.create_time, a.update_time, a.ts_time, a.yn,
        b.channel_name,
        c.ac_name

    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="checkAccountId != 0 and checkAccountId >0 " >
                and a.check_account_id = #{checkAccountId}
            </if>
            <if test="channelId != 0 and channelId >0 " >
                and a.channel_id = #{channelId}
            </if>
            <if test="channelName != null and channelName != '' " >
                and b.channel_name = #{channelName}
            </if>
            <if test="acName != null and acName != '' " >
                and c.ac_name = #{acName}
            </if>
            and a.yn = 0
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn = 0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_check_channel a left join tb_hz_channel b on a.channel_id = b.id
        left join tb_hz_sys_account c on a.check_account_id = c.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_check_channel a left join tb_hz_channel b on a.channel_id = b.id
        left join tb_hz_sys_account c on a.check_account_id = c.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_check_channel a left join tb_hz_channel b on a.channel_id = b.id
        left join tb_hz_sys_account c on a.check_account_id = c.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_check_channel a left join tb_hz_channel b on a.channel_id = b.id
        left join tb_hz_sys_account c on a.check_account_id = c.id
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_check_channel a left join tb_hz_channel b on a.channel_id = b.id
        left join tb_hz_sys_account c on a.check_account_id = c.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_hz_check_channel
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != 0 and id >0" >
                id,
            </if>
            <if test="checkAccountId != 0 and checkAccountId >0" >
                check_account_id,
            </if>
            <if test="channelId != 0 and channelId >0" >
                channel_id,
            </if>
            <if test="createUserId != 0 and createUserId >0" >
                create_user_id,
            </if>
            <if test="createRoleId != 0 and createRoleId >0" >
                create_role_id,
            </if>
            <if test="updateUserId != 0 and updateUserId >0" >
                update_user_id,
            </if>
            <if test="updateRoleId != 0 and updateRoleId >0" >
                update_role_id,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                <![CDATA[  #{id}, ]]>
            </if>
            <if test="checkAccountId != 0 and checkAccountId >0 " >
                <![CDATA[  #{checkAccountId}, ]]>
            </if>
            <if test="channelId != 0 and channelId >0 " >
                <![CDATA[  #{channelId}, ]]>
            </if>
            <if test="createUserId != 0 and createUserId >0" >
                <![CDATA[  #{createUserId}, ]]>
            </if>
            <if test="createRoleId != 0 and createRoleId >0" >
                <![CDATA[  #{createRoleId}, ]]>
            </if>
            <if test="updateUserId != 0 and updateUserId >0" >
                <![CDATA[  #{updateUserId}, ]]>
            </if>
            <if test="updateRoleId != 0 and updateRoleId >0" >
                <![CDATA[  #{updateRoleId}, ]]>
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_hz_check_channel a
        <trim prefix="set" suffixOverrides=",">
            <if test="checkAccountId != 0 and checkAccountId >0 " >
                a.check_account_id = #{checkAccountId},
            </if>
            <if test="channelId != 0 and channelId >0 " >
                a.channel_type = #{channelId},
            </if>
            <if test="updateUser != 0 and updateUser >0 " >
                a.update_user = #{updateUser},
            </if>
            <if test="updateRole != 0 and updateRole >0 " >
                a.update_role = #{updateRole},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_hz_check_channel a
        <trim prefix="set" suffixOverrides=",">
            <if test="isEnable != 0 and isEnable >0 " >
                a.is_enable=#{isEnable},
            </if>
            a.yn=#{yn},
            a.update_time=NOW()
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_hz_check_channel a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>

</mapper>