<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.tvdeploy.dao.GewayChangeDao">
    <!-- 属性映射 -->
    <resultMap type="com.xn.tvdeploy.model.GewayChangeModel" id="dataMap">
        <id property="id" column="id" />
        <result property="alias" column="alias" />
        <result property="gewayId" column="geway_id" />
        <result property="orderNo" column="order_no" />
        <result property="money" column="money" />
        <result property="changeType" column="change_type" />
        <result property="pictureAds" column="picture_ads" />
        <result property="isShow" column="is_show" />
        <result property="dataExplain" column="data_explain" />
        <result property="remark" column="remark" />
        <result property="curday" column="curday" />
        <result property="curhour" column="curhour" />
        <result property="curminute" column="curminute" />
        <result property="runStatus" column="run_status" />
        <result property="runNum" column="run_num" />
        <result property="createUserId" column="create_user_id" />
        <result property="createRoleId" column="create_role_id" />
        <result property="updateUserId" column="update_user_id" />
        <result property="updateRoleId" column="update_role_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="yn" column="yn" />
        <result property="gewayName" column="geway_name" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id, a.alias, a.geway_id, a.order_no, a.money, a.change_type, a.picture_ads, a.is_show, a.data_explain,
        a.remark, a.curday, a.curhour, a.curminute, a.run_status, a.run_num, a.create_user_id, a.create_role_id,
        a.update_user_id, a.update_role_id, a.create_time, a.update_time, a.ts_time, a.yn,
        b.geway_name
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="gewayId != 0 and gewayId >0 " >
                and a.geway_id = #{gewayId}
            </if>
            <if test="orderNo != null and orderNo != '' " >
                and a.order_no = #{orderNo}
            </if>
            <if test="changeType != 0 and changeType >0 " >
                and a.change_type = #{changeType}
            </if>
            <if test="isShow != 0 and isShow >0 " >
                and a.is_show = #{isShow}
            </if>
            <if test="curday != 0 and curday >0 " >
                and a.curday = #{curday}
            </if>
            <if test="curdayStart != 0 and curdayStart >0 and curdayEnd != 0 and curdayEnd >0 " >
                and a.curday >= #{curdayStart} and a.curday &lt;= #{curdayEnd}
            </if>
            <if test="gewayName != null and gewayName != '' " >
                and b.geway_name = #{gewayName}
            </if>
            and a.yn = 0
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn = 0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_geway_change a left join tb_hz_geway b on a.geway_id = b.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_geway_change a left join tb_hz_geway b on a.geway_id = b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_geway_change a left join tb_hz_geway b on a.geway_id = b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_geway_change a left join tb_hz_geway b on a.geway_id = b.id
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_geway_change a left join tb_hz_geway b on a.geway_id = b.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>


    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_hz_geway_change
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="alias != null and alias != '' " >
                alias,
            </if>
            <if test="gewayId != 0 and gewayId >0 " >
                geway_id,
            </if>
            <if test="orderNo != null and orderNo != '' " >
                order_no,
            </if>
            <if test="money != null and money != '' " >
                money,
            </if>
            <if test="changeType != 0 and changeType >0 " >
                change_type,
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                picture_ads,
            </if>
            <if test="isShow != 0 and isShow >0 " >
                is_show,
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                data_explain,
            </if>
            <if test="remark != null and remark != '' " >
                remark,
            </if>
            <if test="curday != 0 and curday >0 " >
                curday,
            </if>
            <if test="curhour != 0 and curhour >0 " >
                curhour,
            </if>
            <if test="curminute != 0 and curminute >0 " >
                curminute,
            </if>
            <if test="runStatus != 0 and runStatus >0 " >
                run_status,
            </if>
            <if test="runNum != 0 and runNum >0 " >
                run_num,
            </if>
            <if test="createUserId != 0 and createUserId >0 " >
                create_user_id,
            </if>
            <if test="createRoleId != 0 and createRoleId >0 " >
                create_role_id,
            </if>
            <if test="updateUserId != 0 and updateUserId >0 " >
                update_user_id,
            </if>
            <if test="updateRoleId != 0 and updateRoleId >0 " >
                update_role_id,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="alias != null and alias != '' " >
                <![CDATA[  #{alias}, ]]>
            </if>
            <if test="gewayId != 0 and gewayId >0 " >
                <![CDATA[  #{gewayId}, ]]>
            </if>
            <if test="orderNo != null and orderNo != '' " >
                <![CDATA[  #{orderNo}, ]]>
            </if>
            <if test="money != null and money != '' " >
                <![CDATA[  #{money}, ]]>
            </if>
            <if test="changeType != 0 and changeType >0 " >
                <![CDATA[  #{changeType}, ]]>
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                <![CDATA[  #{pictureAds}, ]]>
            </if>
            <if test="isShow != 0 and isShow >0 " >
                <![CDATA[  #{isShow}, ]]>
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                <![CDATA[  #{dataExplain}, ]]>
            </if>
            <if test="remark != null and remark != '' " >
                <![CDATA[  #{remark}, ]]>
            </if>
            <if test="curday != 0 and curday >0 " >
                <![CDATA[  #{curday}, ]]>
            </if>
            <if test="curhour != 0 and curhour >0 " >
                <![CDATA[  #{curhour}, ]]>
            </if>
            <if test="curminute != 0 and curminute >0 " >
                <![CDATA[  #{curminute}, ]]>
            </if>
            <if test="runStatus != 0 and runStatus >0 " >
                <![CDATA[  #{runStatus}, ]]>
            </if>
            <if test="runNum != 0 and runNum >0 " >
                <![CDATA[  #{runNum}, ]]>
            </if>
            <if test="createUserId != 0 and createUserId >0 " >
                <![CDATA[  #{createUserId}, ]]>
            </if>
            <if test="createRoleId != 0 and createRoleId >0 " >
                <![CDATA[  #{createRoleId}, ]]>
            </if>
            <if test="updateUserId != 0 and updateUserId >0 " >
                <![CDATA[  #{updateUserId}, ]]>
            </if>
            <if test="updateRoleId != 0 and updateRoleId >0 " >
                <![CDATA[  #{updateRoleId}, ]]>
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_hz_geway_change a
        <trim prefix="set" suffixOverrides=",">
            <if test="alias != null and alias != '' " >
                a.alias = #{bankCard},
            </if>
            <if test="gewayId != 0 and gewayId >0 " >
                a.geway_id = #{bankCard},
            </if>
            <if test="orderNo != null and orderNo != '' " >
                a.order_no = #{bankCard},
            </if>
            <if test="money != null and money != '' " >
                a.money = #{bankCard},
            </if>
            <if test="changeType != 0 and changeType >0 " >
                a.change_type = #{bankCard},
            </if>
            <if test="pictureAds != null and pictureAds != '' " >
                a.picture_ads = #{bankCard},
            </if>
            <if test="isShow != 0 and isShow >0 " >
                a.is_show = #{bankCard},
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                a.data_explain = #{bankCard},
            </if>
            <if test="remark != null and remark != '' " >
                a.remark = #{bankCard},
            </if>
            <if test="curday != 0 and curday >0 " >
                a.curday = #{bankCard},
            </if>
            <if test="curhour != 0 and curhour >0 " >
                a.curhour = #{bankCard},
            </if>
            <if test="curminute != 0 and curminute >0 " >
                a.curminute = #{bankCard},
            </if>
            <if test="runStatus != 0 and runStatus >0 " >
                a.run_status = #{bankCard},
            </if>
            <if test="runNum != 0 and runNum >0 " >
                a.run_num = #{bankCard},
            </if>
            <if test="createUserId != 0 and createUserId >0 " >
                a.create_user_id = #{bankCard},
            </if>
            <if test="createRoleId != 0 and createRoleId >0 " >
                a.create_role_id = #{bankCard},
            </if>
            <if test="updateUserId != 0 and updateUserId >0 " >
                a.update_user_id = #{bankCard},
            </if>
            <if test="updateRoleId != 0 and updateRoleId >0 " >
                a.update_role_id = #{bankCard},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_hz_geway_change a
        <trim prefix="set" suffixOverrides=",">
            <if test="isEnable != 0 and isEnable >0 " >
                a.is_enable=#{isEnable},
            </if>
            a.yn=#{yn},
            a.update_time=NOW()
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_hz_geway_change a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>

</mapper>