<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.tvdeploy.dao.TpDataDao">
    <!-- 属性映射 -->
    <resultMap type="com.xn.tvdeploy.model.TpDataModel" id="dataMap">
        <id property="id" column="id" />
        <result property="myTradeNo" column="my_trade_no" />
        <result property="tradeNo" column="trade_no" />
        <result property="outTradeNo" column="out_trade_no" />
        <result property="totalAmount" column="total_amount" />
        <result property="serviceCharge" column="service_charge" />
        <result property="actualMoney" column="actual_money" />
        <result property="tradeStatus" column="trade_status" />
        <result property="extraReturnParam" column="extra_return_param" />
        <result property="tradeTime" column="trade_time" />
        <result property="sign" column="sign" />
        <result property="channelId" column="channel_id" />
        <result property="gewayId" column="geway_id" />
        <result property="notifyUrl" column="notify_url" />
        <result property="notifySuc" column="notify_suc" />
        <result property="lowerSuc" column="lower_suc" />
        <result property="xyExtraReturnParam" column="xy_extra_return_param" />
        <result property="deductRatio" column="deduct_ratio" />
        <result property="workType" column="work_type" />
        <result property="runStatus" column="run_status" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="yn" column="yn" />

        <result property="totalMoney" column="total_money" />
        <result property="totalServiceCharge" column="total_service_charge" />
        <result property="totalActualMoney" column="total_actual_money" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.my_trade_no,a.trade_no,a.out_trade_no,a.total_amount,a.service_charge,a.actual_money,a.trade_status,a.extra_return_param,a.trade_time,
        a.`sign`,a.channel_id,a.geway_id,a.notify_url,a.notify_suc,a.xy_extra_return_param,a.deduct_ratio,a.work_type,
        a.curday,a.curhour,a.curminute,a.run_num,a.run_status,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="channelId != 0 and channelId >0 " >
                and a.channel_id = #{channelId}
            </if>

            <if test="myTradeNo != null and myTradeNo != '' " >
                and a.my_trade_no = #{myTradeNo}
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                and a.out_trade_no = #{outTradeNo}
            </if>
            <if test="tradeStatus != 0 and tradeStatus >0 " >
                and a.trade_status = #{tradeStatus}
            </if>
            <if test="curday != 0 and curday >0 " >
                and a.curday = #{curday}
            </if>
            <if test="curdayStart != 0 and curdayStart >0 and curdayEnd != 0 and curdayEnd >0 " >
                and a.curday >= #{curdayStart} and a.curday &lt;= #{curdayEnd}
            </if>
            <if test="runStatus != 0 and runStatus >0 " >
                and a.run_status = #{runStatus}
            </if>
            and a.work_type > 0
            and a.run_status &lt;= 3
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_hz_data_core a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_data_core a
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_data_core a
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>

    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_data_core a
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_hz_data_core a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>



    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        UPDATE tb_hz_data_core a set a.run_num = 0, a.run_status =0,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        <if test="channelId != 0 and channelId >0 " >
            and a.channel_id = #{channelId}
        </if>
        and a.yn=0
    </update>


    <!-- 获取订单的total信息 -->
    <select id="getTotalData"  resultMap="dataMap" parameterType="Object">
        select
        ifnull(sum(convert(a.total_amount,decimal(19,4))), '0.0000') as total_money,
        ifnull(sum(convert(a.service_charge,decimal(19,4))),'0.0000') as total_service_charge,
        ifnull(sum(convert(a.actual_money,decimal(19,4))),'0.0000') as total_actual_money
        from tb_hz_data_core a
        <include refid="Example_Where_Clause"/>
    </select>



</mapper>